@import './global.scss';

.about{
  //border-top: 1px solid $red-color;
  padding-top: 2em;
  h1{
    text-align: center;
    font-size: calc(1vw + 1vh + 2.5vmin);
  }
  &__me{
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: calc(1vw + 1vh + 0.5vmin);
    text-align: justify;
    line-height: 140%;
    img{
      margin: 0 auto;
      padding-top: 2em;
      width: 100%;
      height: 300px;
      //border: 1px solid red;
    }
  }

  &__skills{
    //border: 1px solid gold;
    margin-top: 3em;
    width: auto;
    h1{
      text-align: center;
      font-size: calc(1vw + 1vh + 2.5vmin);
    }
    &__icons{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      //width: 100%;
      font-size:calc(1em + 1vh + 8vmin);
      //border: 1px solid blue;
      margin: 0 20px;
      
      span{
        margin: 10px 10px;
        color: $background-dark;
        //border: 1px solid red;
      }
      :hover{
        color: $red-color;
      }
    }
  }
  
}
@media(min-width: 1024px ){
	.about{
    margin: 0 auto;
		max-width: 1300px;
    &__me{
      margin: 0 auto;
    }
  }
}
@media(min-width: 1024px ){
	.about{
    margin: 0 auto;
		max-width: 1300px;
    &__me{
      img{
        margin: 0 auto;
        width: 40%;
        height: auto;
        //border: 1px solid red;
      }
    }
  }
}