@import './global.scss';

.banner{
  border: 1px solid springgreen;

  &__cover{
		border: 1px solid green;
		padding: 0 20px;
  	p{
    	border: 1px solid blue;
      width: 330px;
    	height: 140px;
      font-size: 32px;
      line-height: 100%;
    	font-weight: bold;
    }
    &__name{
      color: $red-color;
		}
		&__social{
			display: inline;
			a{
			font-size: 50px;
			color: $background-dark;
			}
			:hover{
				color: $red-color;
			}
		}
	}
}