@import './global.scss';

.card{
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  width: 320px;
  background-color: $background-dark;
  //border: 1px solid blue;
  margin:  2em;
  
  border-radius: 5px;
  padding: 0.3em;
  
  img{
    border-radius: 5px 5px 0 0 ;
    //width: auto;
    height: 400px;
    object-fit:cover;
    
    //object-position: center center;
  }

  &__details{
    background-color:$background-dark;
    width: auto;
    height: 65px;
    display: flex;
    //flex-direction: column;
    //padding: 10px 0;
    //flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p{
      margin: 0.5em;
      color: $background-white;
      font-size: 20px;
    }

    &__link{
      //border: 1px solid springgreen;
      height: auto;
      text-align: center;
      padding: 1em 0;
      
      a{
        //text-align: center;
        margin:  .5em;
        border-radius: 5px;
        padding: 10px 10px;
        text-decoration: none;
        color: $dark-details;
        background-color: $background-white;
        cursor: pointer;
      }
    }
    
  }
}