@import './global.scss';

.card{
  width: 280px;
  height: 360px;
  border-radius: 15px;
  background: green;
  position: relative;
  //align-items: flex-end;
  transition: 0.2s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);

  &:hover{
    transform: translateY(5px); //card movement;
    &:before{
      opacity: 1;
    }
    .card__info{
      opacity: 1;
      //transform: translateY(0px);
      h2{
        opacity: 1;
        transform: translate(0);
      }
      &__link{
       
        transform: translate(0);
      }
    }
  }
  &:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba($background-dark, 0.9);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 15px;
  }
  &__info{
    width: 100%;
    //border: 1px solid springgreen;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    color: $background-white;
    opacity: 0;
    //transform: translateY(30px);
    transition: 0.5s;
    h2{
      display: inherit;
      align-items: center;
      margin: 0;
      height: 60px;
      border-radius: 15px 15px 0 0 ;
      justify-content: center;
      transform: translateY(-20px);
      background-color: $background-dark;
      transition: 0.5s;
      
    }
    p{
      border: 1px solid blue;
    }

    &__link{
      //border: 1px solid springgreen;
      height: 40px;
      text-align: center;
      padding: 2em 0;
      padding-bottom: 0;
      transform: translateY(20px);
      background-color: $background-dark;
      transition: 0.5s;
      border-radius: 0 0 15px 15px;
      a{
        //text-align: center;
        margin: 0 .5em;
        border-radius: 5px;
        padding: 10px  20px;
        text-decoration: none;
        color: $dark-details;
        background-color: $background-white;
        cursor: pointer;
      }
      a:hover{
        background-color: $red-color;
        color: $background-white;
      }
    }
  }
  
}


/* 
.card{
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  width: 320px;
  background-color: $background-dark;
  //border: 1px solid blue;
  margin:  2em;
  
  border-radius: 5px;
  padding: 0.3em;
  box-shadow:  20px 20px 60px #cfd0d2,
             -20px -20px 60px #ffffff;
  
  img{
    border-radius: 5px 5px 0 0 ;
    //width: auto;
    height: 400px;
    object-fit:cover;
    
    //object-position: center center;
  }

  &__details{
    background-color:$background-dark;
    width: auto;
    height: 65px;
    display: flex;
    //flex-direction: column;
    //padding: 10px 0;
    //flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 6s, 4s;
    p{
      margin: 0.5em;
      color: $background-white;
      font-size: 20px;
    }

    &__link{
      //border: 1px solid springgreen;
      height: auto;
      text-align: center;
      padding: 1em 0;
      
      a{
        //text-align: center;
        margin:  .5em;
        border-radius: 5px;
        padding: 10px 10px;
        text-decoration: none;
        color: $dark-details;
        background-color: $background-white;
        cursor: pointer;
      }
    }
    
  }
} */