@import './global.scss';

.contact{
  width: 100%;
  //border: 1px solid yellow;
  background-color: $background-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $background-white;
  h1{
    text-align: center;
    font-size: calc(1vw + 1vh + 2.5vmin);
    padding-top: 1em;
  }
  &__details{
    text-align: center;
    //border: 1px solid red;
    padding: 0;
    font-size: calc(1vw + 1vh + 0.5vmin);
    a{
      text-decoration: none;
      display: inline-block;
      position: relative;
      color: $red-color;
    }
    a:after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $red-color;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    a:hover:after{
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__social{
    //border: 1px solid red;
    margin: 1em 0;
    a{
      //display: flex;
      width: 50px;
      font-size: 80px;
      color: $background-white;
      //border: 1px solid blue;
    }
    :hover{
      color: $red-color;
    }
  }

  &__image{
    //border: 1px solid springgreen;
    //padding: 1em 0;
    img{
      padding-bottom: 2em;
      width: 100%;
      height: auto;
    }
  }
}