@import './global.scss';

.footer{
  background-color: $red-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  //margin-top: -8px;

  p{
    margin: 0;
    color: $background-white;
  }
}