//-- font --
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,600;0,700;1,500&display=swap');
$first-font: 'Archivo', sans-serif;

//-- global variables--
$red-color: #FF0032;
$background-white: #F4F5F7;
$background-dark: #212121;
$dark-details: #2C2C2C;

// font size
//TEXT
$mobile-p: 12px;
$small-text-font: 14px; // < 768px
$medium-text-font: 16px; // 768px
//TITLE
$mobile-title-size: 26px;
$small-title-size: 30px; // < 768px
$medium-title-size: 40px; // 768px
$large-title-font: 72px;  // > 1000px


//-- general css styles --
body{
    margin: 0;
    padding: 0;
    background-color: $background-white;
    color: $background-dark;
    font-family: $first-font;
}