@import './global.scss';
.header{
    margin: 0 auto;
    max-width: 1400px;
    height: 70px;
    //min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px solid blue;
    
    a{
        text-decoration: none;
        //border: 1px solid red;
        margin: 0 1em;
        color: $background-dark;
        font-weight:600;
        cursor: pointer;
    }
    a:hover{
        color: $red-color;
    }
    &__logo{
        margin: 0 1em;
       // border: 1px solid red;
        img{
           width: 100px;
        }
    }
    &__menu{
        margin: 0 1em;
       // border: 1px solid pink;
    }
}
