.projects{
  margin-top: 3em;
  //display: flex;
 // flex-direction: column;
  //justify-content: center;
  align-items: center;
  
  //border: 1px solid red;
  //height: auto;
  h1{
    text-align: center;
  }

  &__container{
    display: flex;
    justify-content: center;
    
  }

  img{
    width: 100%;
  }
  &__up{
    margin-top: -3.9px;
    //border: 1px solid red;
  }
}