@import './global.scss';

.projects{
  margin-top: 3em;
  //border: 1px solid blue;
  //margin: 0 auto;

  h1{
    text-align: center;
    font-size: calc(1vw + 1vh + 2.5vmin);
    padding: 1em 0 0;
    //border: 1px solid red;
  }
  img{
    width: 100%;
  }
  &__container{
   // background-color: red;

    &__menu{
     // border: 1px solid springgreen;
      display: flex;
      justify-content: space-evenly;
      font-size: calc(0.5vw + 0.5vh + 2.5vmin);
      max-width: 1200px;
      margin: 0 auto;
      padding: 1em 0;
      li{
        list-style: none;
        a{
          text-decoration: none;
          color: $background-dark;
          font-weight: bold;
          
          position: relative;
          transition: all .5s;
          
        }
        a:hover{
          color: $red-color;
          box-shadow: 0px 3px 0px $red-color;
      
        }
      }
    }
   
    
  }
  
}