@import './global.scss';

.projects{
  margin-top: 3em;
  border: 1px solid blue;
  margin: 0 auto;
  h1{
    text-align: center;
    font-size: calc(1vw + 1vh + 2.5vmin);
    padding: 1em 0;
  }


  img{
    width: 100%;
  }
}