.cardlist{
  //border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1300px;
  margin: 0 auto;
  grid-gap: 1.5em;
  justify-items: center;
  padding-bottom: 2em;
}